## Load the dataset from list, ndarray, pandas.DataFrame, pandas.Series

### Dataset with categorical features

In [3]:
from catboost import Pool
cat_features = [0,1,2]
data = [["a","b",1,4,5,6],["a","b",4,5,6,7],["c","d",30,40,50,60]]
label = [1,1,-1]
p = Pool(data, label,cat_features)

### Dataset without categorical features

In [5]:
from catboost import Pool
data = [[1,4,5,6],[4,5,6,7],[30,40,50,60]]
label = [1,1,-1]
p = Pool(data, label)

### Dataset without labels (for prediciton)

In [7]:
from catboost import Pool
data = [[1,4,5,6],[4,5,6,7],[30,40,50,60]]
p = Pool(data)

## Load the dataset from a file

### Empty dataset

In [8]:
from catboost import Pool
p = Pool(None)

### Dataset with specified column descriptions

In [8]:
from catboost import Pool
p = Pool(DATA_FILE, column_description=CD_FILE)

### Dataset with no column description specified

In [8]:
from catboost import Pool
p = Pool(DATA_FILE)

## Binary classification

### <span style="color:blue">CatBoostClassifier </span>class with array_like_data

In [14]:
from catboost import CatBoostClassifier
# Initialize data
cat_features = [0,1,2]
train_data = [["a","b",1,4,5,6], ["a","b",4,5,6,7], ["c","d",30,40,50,60]]
train_labels = [1,1,-1]
test_data = [["a","b",2,4,6,8],["a","d",1,4,50,60]]
# Initialize CatBoostClassifier
model = CatBoostClassifier(iterations=2, learning_rate=1, depth=2, loss_function='Logloss')
# Fit model
model.fit(train_data, train_labels, cat_features)
# Get predicted classes
preds_class = model.predict(test_data)
# Get predicted probabilities for each class
preds_proba = model.predict_proba(test_data)
# Get predicted RawFormulaVal
preds_raw = model.predict(test_data, prediction_type='RawFormulaVal')

0:	learn: 0.2806911	total: 2.45ms	remaining: 2.45ms
1:	learn: 0.1282636	total: 5.55ms	remaining: 0us

In [16]:
print(preds_proba)
print(preds_class)

[[0.10578331 0.89421669]
 [0.37515533 0.62484467]]
[1. 1.]

### <span style="color:blue">CatBoostClassifier </span>on titanic

In [37]:
from catboost import Pool, CatBoostClassifier
from catboost.datasets import titanic
# Initialize data
titanic_train, titanic_test = titanic()
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [46]:
titanic_train.isnull().sum()
# fillna by -999, catboost would be able to identify that
titanic_train.fillna(-999,inplace=True)
titanic_test.fillna(-999,inplace=True)
titanic_train.isnull().sum()
titanic_test.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [48]:
# prepare dataset
x = titanic_train.drop('Survived', axis=1)
y = titanic_train.Survived
x.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [52]:
import numpy as np
# extract categorical features
cate_feature_index = np.where(x.dtypes != float)[0]

In [53]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y,train_size=.85,random_state=12)

/miniconda3/envs/ml36/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2069: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)